{% if page_obj %}
  <nav class="mt-5" aria-label="Pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
        <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
          <i class="fa-solid fa-chevron-left"></i>
        </a>
      </li>
      {% for number in page_obj.paginator.page_range %}
        <li class="page-item{% if page_obj.number == number %} active{% endif %}">
          <a class="page-link" href="?page={{ number }}">{{ number }}</a>
        </li>
      {% endfor %}
      <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
        <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
